@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.TopBar{
    position: fixed;
    width: 100%;
    height: 12.5vh;
    left: 0px;
    top: 0px;
    background: #1E0253;
    border-bottom-left-radius: 4%;
    border-bottom-right-radius: 4%;
}

.Placeholder{
    width: 100%;
    height: 12.2vh;
    margin: 0;
}

.TopMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.TopMenuLink{
    color: #fffcff;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.2rem;
    text-decoration: none;
}

.Logo{
    width: 16%;
    height: 12vh;
    background-image: url(Logo.png);
    background-size: cover;
    background-position: center; 
}

.LoadingWheel{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    border: 16px solid #c637a0;
    border-top: 16px solid transparent;
    animation: spin 1.5s linear infinite;
    animation-timing-function: ease-in-out;
}

.hidden{
    display: none;
}

.TourSec{
    width: calc(100% - 40px);
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #0E081F;
}

.TourHeader{
    color: #fffcff;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 60px;
}

.Tours{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TourThing{
    width: 20%;
    height: 100%;
    background-color: #fffcff;
    transition: 0.5s;
    overflow: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: double;
    border-color: #786797;
    border-width: 8px;
}

.TourThing:hover{
    width: 50%;
    height: 60vh;
    z-index: 2;
}

.TourThingHeader{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: 500;
    margin-top: 0;
    font-size: 1.4rem;
    transition: 0.5s;
}

.TourThingColumn{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TourThingRow{
    width: 40%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.TourThingButton{
    width: 50%;
    height: 20%;
    background-color: #C637A0;
    color: #fffcff;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.TourThingImageDiv{
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.5s;
}

.TourThingImage{
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.TourThingText{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
}

.Shade{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

/*.MerchSec{
    width: calc(100% - 40px);
    height: 160vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #fffcff;
}

.MerchHeader{
    color: #131515;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}*/